body {
	background-color: #f9f9f9;
}
p {
	font-family: Regular, sans-serif;
	padding-top: 135px;
	padding-left: 10px;
	text-align: justify;
	width: 700px;
}
span {
	float:right;
}
.wrapper {
	height:1000px;
	margin-left: 154px;
	margin-right: 152px;
	background-color: #ffffff;
}
.header, .footer {
	padding-left: 47px;
	padding-top: 49px;
	background-color: #ffffff;	
}
.menu, .footermenu {
	margin-top: 40px;
	background: linear-gradient(to top, #525252, #525252);
	height: 39px;
	width: 964px;	
}
.headerline, .footerline {
	padding: 14px 27px 14px 27px;
}
.headerline li, .footerline li {
	display: inline;	
}
.headerline a, .footerline a {
	text-decoration: none;
	color: white;
	font-family: regular, sans-serif;
	font-size: 14px;
	padding:12px 56px 9px 52px;
}
.headerline a:hover {
	border-right: 2px solid #838383;
	border-left: 2px solid #838383;
	background-color: #464646;
	padding-left:50px;
	padding-right: 54px;
	padding-top: 14px;
	padding-bottom: 9px;
}
.container {
	height:650px;
	background-color: #ffffff;
}
.sidebar {
	width: 195px;
	float:left;
	margin-top: 39px;
	margin-left: 47px;
}
.link a {
	border: 1px solid #c8c8c8;
	border-bottom: 0;
	font-family: regular, sans-serif;
	padding: 8px 13px 9px 8px;
	display: block;
	text-decoration: none;
	font-size: 15px;
}
.link a:hover {
	padding-left: 17px;
	color: #2c2c2c;
	background-color: #f9f9f9;
}
.link:last-child a {
	border-bottom: 1px solid #c8c8c8;
}
.rightbox {
	width: 800px;
	float: right;
}
.bicycle {
	height: 398px;
	width: 720px;
	float: right;
	margin-top: 40px;
	text-align: center;
	margin-right: 32px;
	margin-left: 49px;
	border: 1px solid #c8c8c8;
}

.footer{
	padding-top: 29px;
}
.footermenu {
	background: linear-gradient(to top, #e1e1e1, #e1e1e1);
}
.footerline a{
	color: #2c2c2c;
}
.footerline li:nth-child(2) {
	text-decoration: underline;
}